<footer>
    <section class="footer-son">
        <div class="footer-grandson">
            <figure class="container-footer0">
                <img src="/images/logo.svg" alt="company-logo">
            </figure>
            <div class="container-footer1">
                <div class="footer1-1">
                    <p>FAQs</p>
                    <p>Contact Us</p>
                </div>
                <div class="footer1-2">
                    <p>Privacy Policy</p>
                    <p>Press Kit</p>
                </div>
                <div class="footer1-2">
                    <p>Install Guide</p>
                </div>
            </div>
        </div>
        <div class="container-footer2">
            <img src="images/icon-facebook.svg" alt="icon facebook">
            <img src="/images/icon-twitter.svg" alt="icon twitter">
            <img src="/images/icon-instagram.svg" alt="icon instagram">
        </div>
    </section>
    
</footer>