@media (min-width: 1550px){
    .description-image-benefits{
        justify-content: center;
        max-width: 80%;
        margin: auto;
    }
}
@media (max-width: 1549px) and (min-width: 1366px){
    .description-image-benefits{
        justify-content: space-between;
        max-width: 85%;
    }
    /* Cuando le ponemos el margin left negativo, el max width del description image benefits deja de funcionar */
    .description-image{
        margin-left: -40px;
    }
    .description-image img{
        max-width: 100%;
        width: 695px;
    }
}
@media (max-width: 1365px) and (min-width: 1024px){
    .description-image-benefits{
        justify-content: space-between;
        max-width: 100%;
    }
    .description-image{
        margin-left: -40px;
    }
    /* Al bajar el max-width de la imagen se genera un espacio a la mano derecha, el cual no se puede desaparecer con el
    padding, ni con el margin*/
    .description-image img{
        max-width: 100%;
        /* width: 695px; */
        width: 650px;
    }
    .description-benefits div{
        max-width: 100%;
    }
}
@media (max-width:1023px) and (min-width: 970px){
    .description-image{
        margin-left: -40px;
    }
    .description-image img{
        max-width: 100%;
        width: 600px;
    }
    .description-benefits div{
        max-width: 100%;
    }
    .description-image-benefits{
        max-width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 969px) and (min-width: 768px){
    .description-image img{
        max-width: 100%;
        width: 600px;
    }
    .description-benefits div{
        max-width: 100%;
    }
    .description-image-benefits{
        max-width: 100%;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .description-title{
        max-width: 75%;
        
    }
    .description-image-benefits{
        max-width: 100%;
    }
    .description-image img{
        max-width: 100%;
        width: 600px;
        margin: auto;
    }
    .description-benefits{
        max-width: 100%;
        margin: auto;
    }
    .description-benefits div{
        max-width: 100%;
        margin: auto;
        text-align: center;
    }
}

#description{
    /* border: solid green; */
    margin: 140px 0;
}
.description-title{
    /* border: solid gold; */
    text-align: center;
    width: 640px;
    margin: 0;
    margin: auto;
}
.description-title h2{
    font-size: 30px;
    font-weight: 600;
}
.description-title h2, .description-ben-qs h3, .description-ben-iS h3, .description-ben-CH h3{
    color: var(--Dark-Grayish-Blue);
}
.description-title p{
    font-size: 16px;
}
.description-title p, .description-ben-qs p, .description-ben-iS p, .description-ben-CH p{
    color: var(--Grayish-Blue);
    line-height: 1.8;
}
.description-image-benefits{
    display: flex;
    /* border: solid red; */
    flex-wrap: wrap;
    width: 1200px;
}
.description-image{
    /* border: solid fuchsia; */
    display: flex;
}
.description-image img{
    /* border: solid green; */
    height: auto;
}
.description-benefits{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}
.description-benefits div{
    /* border: solid pink; */
    width: 340px;
}